.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.input-one {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  margin-right: 40vh;
  margin-left: 40vh;
  font-size: calc(10px + 2vmin);
}

.input-last {
  display: flex;
  flex-direction: column;
  vertical-align: center;
  margin-right: 40vh;
  margin-left: 40vh;
  margin-bottom: 10vh;
  font-size: calc(10px + 2vmin);
}
